cfs entry for: _6.fld
doc 0
  field 0
    name Nome File
    type string
    value Il fiammifero
doc 1
  field 1
    name Contenuto
    type string
    value Il fiammifero è uno stelo o bastoncino di legno, cotone o carta cerata (cerino)[1] di cui una estremità, chiamata capocchia, è ricoperta di una sostanza infiammabile generalmente composta di solfuro di fosforo e di clorato di potassio solo per i fiammiferi accendibili ovunque che, sfregata su una superficie ruvida composta da vetro macinato intorno ai 3,0-3,2 decimi di millimetro e mescolati con una colla vinilica appositamente studiata allo scopo, si incendia alimentando una fiamma di breve durata. Il sostantivo "fiammifero" è composto dal sostantivo latino flamma (fiamma) e dal verbo f?ro (portare, produrre, generare) ovvero, letteralmente, "che produce fiamma".
doc 2
  field 0
    name Nome File
    type string
    value Il pallone
doc 3
  field 1
    name Contenuto
    type string
    value le palle più antiche mai esistite erano fatte di lino intrecciato e venivano usate in Egitto 4.500 anni fa. In Centro America la stessa invenzione è arrivata 800 anni dopo, e gli Aztechi ci giocavano ancora nel 1500: in questo caso parliamo però di palle di gomma
doc 4
  field 0
    name Nome File
    type string
    value La serie di fibonacci
doc 5
  field 1
    name Contenuto
    type string
    value Fibonacci, successione di successione di numeri naturali; prende il nome dal matematico pisano L. Fibonacci, che la introdusse nel suo Liber abaci, ed è indicata anche, sebbene impropriamente, come serie di Fibonacci. Fibonacci la introdusse per dare una descrizione regolare e numerica della crescita mensile di una popolazione di conigli, supponendo che essi diventino fertili al compimento del primo mese e ogni coppia di conigli partorisca al compimento del secondo mese. Così, i primi due termini della successione sono entrambi uguali a 1, mentre ciascun termine dal terzo in poi è uguale alla somma dei due che lo precedono. 
doc 6
  field 0
    name Nome File
    type string
    value OFL
doc 7
  field 1
    name Contenuto
    type string
    value Copyright (c) 2011, TypeTogether (www.type-together.com),\
with Reserved Font Names "Abril" and "Abril Fatface"\
\
This Font Software is licensed under the SIL Open Font License, Version 1.1.\
This license is copied below, and is also available with a FAQ at:\
http://scripts.sil.org/OFL\
\
\
-----------------------------------------------------------\
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007\
-----------------------------------------------------------\
\
PREAMBLE\
The goals of the Open Font License (OFL) are to stimulate worldwide\
development of collaborative font projects, to support the font creation\
efforts of academic and linguistic communities, and to provide a free and\
open framework in which fonts may be shared and improved in partnership\
with others.\
\
The OFL allows the licensed fonts to be used, studied, modified and\
redistributed freely as long as they are not sold by themselves. The\
fonts, including any derivative works, can be bundled, embedded,\
redistributed and/or sold with any software provided that any reserved\
names are not used by derivative works. The fonts and derivatives,\
however, cannot be released under any other type of license. The\
requirement for fonts to remain under this license does not apply\
to any document created using the fonts or their derivatives.\
\
DEFINITIONS\
"Font Software" refers to the set of files released by the Copyright\
Holder(s) under this license and clearly marked as such. This may\
include source files, build scripts and documentation.\
\
"Reserved Font Name" refers to any names specified as such after the\
copyright statement(s).\
\
"Original Version" refers to the collection of Font Software components as\
distributed by the Copyright Holder(s).\
\
"Modified Version" refers to any derivative made by adding to, deleting,\
or substituting -- in part or in whole -- any of the components of the\
Original Version, by changing formats or by porting the Font Software to a\
new environment.\
\
"Author" refers to any designer, engineer, programmer, technical\
writer or other person who contributed to the Font Software.\
\
PERMISSION & CONDITIONS\
Permission is hereby granted, free of charge, to any person obtaining\
a copy of the Font Software, to use, study, copy, merge, embed, modify,\
redistribute, and sell modified and unmodified copies of the Font\
Software, subject to the following conditions:\
\
1) Neither the Font Software nor any of its individual components,\
in Original or Modified Versions, may be sold by itself.\
\
2) Original or Modified Versions of the Font Software may be bundled,\
redistributed and/or sold with any software, provided that each copy\
contains the above copyright notice and this license. These can be\
included either as stand-alone text files, human-readable headers or\
in the appropriate machine-readable metadata fields within text or\
binary files as long as those fields can be easily viewed by the user.\
\
3) No Modified Version of the Font Software may use the Reserved Font\
Name(s) unless explicit written permission is granted by the corresponding\
Copyright Holder. This restriction only applies to the primary font name as\
presented to the users.\
\
4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font\
Software shall not be used to promote, endorse or advertise any\
Modified Version, except to acknowledge the contribution(s) of the\
Copyright Holder(s) and the Author(s) or with their explicit written\
permission.\
\
5) The Font Software, modified or unmodified, in part or in whole,\
must be distributed entirely under this license, and must not be\
distributed under any other license. The requirement for fonts to\
remain under this license does not apply to any document created\
using the Font Software.\
\
TERMINATION\
This license becomes null and void if any of the above conditions are\
not met.\
\
DISCLAIMER\
THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,\
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF\
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT\
OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE\
COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,\
INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL\
DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING\
FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM\
OTHER DEALINGS IN THE FONT SOFTWARE.\

END
checksum 00000000000409282706
cfs entry for: _6.inf
number of fields 2
  name Nome File
  number 0
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name Contenuto
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000002945559130
cfs entry for: _6.len
field Nome File
  type NUMERIC
  minvalue 0
  pattern 0
2
T
0
F
2
T
0
F
4
T
0
F
1
T
0
F
field Contenuto
  type NUMERIC
  minvalue 0
  pattern 00
00
F
50
T
00
F
30
T
00
F
48
T
00
F
82
T
END
checksum 00000000003924517101
cfs entry for: _6.pst
field Contenuto
  term 1
    doc 1
      freq 1
      pos 14
    doc 5
      freq 1
      pos 82
    doc 7
      freq 1
      pos 351
  term 1.1
    doc 7
      freq 2
      pos 26
      pos 48
  term 1500
    doc 3
      freq 1
      pos 37
  term 2
    doc 7
      freq 1
      pos 372
  term 2007
    doc 7
      freq 1
      pos 51
  term 2011
    doc 7
      freq 1
      pos 2
  term 26
    doc 7
      freq 1
      pos 49
  term 3
    doc 7
      freq 1
      pos 441
  term 3,0
    doc 1
      freq 1
      pos 56
  term 3,2
    doc 1
      freq 1
      pos 57
  term 4
    doc 7
      freq 1
      pos 481
  term 4.500
    doc 3
      freq 1
      pos 16
  term 5
    doc 7
      freq 1
      pos 531
  term 800
    doc 3
      freq 1
      pos 27
  term abaci
    doc 5
      freq 1
      pos 21
  term above
    doc 7
      freq 2
      pos 397
      pos 590
  term abril
    doc 7
      freq 2
      pos 10
      pos 12
  term academic
    doc 7
      freq 1
      pos 77
  term accendibil
    doc 1
      freq 1
      pos 42
  term acknowledg
    doc 7
      freq 1
      pos 512
  term action
    doc 7
      freq 1
      pos 662
  term adding
    doc 7
      freq 1
      pos 260
  term advertis
    doc 7
      freq 1
      pos 506
  term after
    doc 7
      freq 1
      pos 230
  term alimentand
    doc 1
      freq 1
      pos 73
  term allows
    doc 7
      freq 1
      pos 103
  term alone
    doc 7
      freq 1
      pos 410
  term also
    doc 7
      freq 1
      pos 34
  term americ
    doc 3
      freq 1
      pos 21
  term an
    doc 7
      freq 1
      pos 661
  term ancor
    doc 3
      freq 1
      pos 35
  term and
    doc 7
      freq 19
      pos 11
      pos 32
      pos 78
      pos 81
      pos 86
      pos 95
      pos 112
      pos 135
      pos 154
      pos 206
      pos 218
      pos 336
      pos 339
      pos 385
      pos 400
      pos 521
      pos 550
      pos 584
      pos 625
  term anni
    doc 3
      freq 2
      pos 17
      pos 28
  term antic
    doc 3
      freq 1
      pos 3
  term any
    doc 7
      freq 20
      pos 127
      pos 139
      pos 143
      pos 161
      pos 179
      pos 225
      pos 256
      pos 270
      pos 294
      pos 319
      pos 357
      pos 389
      pos 507
      pos 556
      pos 572
      pos 587
      pos 606
      pos 616
      pos 644
      pos 651
  term applies
    doc 7
      freq 1
      pos 470
  term apply
    doc 7
      freq 2
      pos 177
      pos 570
  term appositament
    doc 1
      freq 1
      pos 67
  term appropriat
    doc 7
      freq 1
      pos 419
  term are
    doc 7
      freq 4
      pos 61
      pos 119
      pos 146
      pos 592
  term arising
    doc 7
      freq 1
      pos 668
  term arrivat
    doc 3
      freq 1
      pos 26
  term as
    doc 7
      freq 10
      pos 115
      pos 117
      pos 209
      pos 228
      pos 245
      pos 408
      pos 429
      pos 431
      pos 476
      pos 601
  term at
    doc 7
      freq 1
      pos 39
  term author
    doc 7
      freq 3
      pos 291
      pos 492
      pos 523
  term availabl
    doc 7
      freq 1
      pos 35
  term aztec
    doc 3
      freq 1
      pos 32
  term bastoncin
    doc 1
      freq 1
      pos 6
  term be
    doc 7
      freq 12
      pos 93
      pos 108
      pos 131
      pos 158
      pos 368
      pos 382
      pos 405
      pos 435
      pos 500
      pos 544
      pos 553
      pos 641
  term becomes
    doc 7
      freq 1
      pos 582
  term below
    doc 7
      freq 1
      pos 31
  term binary
    doc 7
      freq 1
      pos 427
  term breve
    doc 1
      freq 1
      pos 77
  term build
    doc 7
      freq 1
      pos 216
  term bundled
    doc 7
      freq 2
      pos 132
      pos 383
  term but
    doc 7
      freq 1
      pos 612
  term by
    doc 7
      freq 10
      pos 122
      pos 149
      pos 198
      pos 247
      pos 259
      pos 278
      pos 282
      pos 370
      pos 438
      pos 462
  term can
    doc 7
      freq 3
      pos 130
      pos 404
      pos 434
  term cannot
    doc 7
      freq 1
      pos 157
  term capocch
    doc 1
      freq 1
      pos 20
  term carta
    doc 1
      freq 1
      pos 11
  term caso
    doc 3
      freq 1
      pos 40
  term centr
    doc 3
      freq 1
      pos 20
  term cerat
    doc 1
      freq 1
      pos 12
  term cerin
    doc 1
      freq 1
      pos 13
  term changing
    doc 7
      freq 1
      pos 279
  term charg
    doc 7
      freq 1
      pos 317
  term chiamat
    doc 1
      freq 1
      pos 19
  term ciascun
    doc 5
      freq 1
      pos 84
  term claim
    doc 7
      freq 1
      pos 645
  term clearly
    doc 7
      freq 1
      pos 207
  term clorat
    doc 1
      freq 1
      pos 35
  term colla
    doc 1
      freq 1
      pos 65
  term collaborativ
    doc 7
      freq 1
      pos 67
  term collection
    doc 7
      freq 1
      pos 240
  term communities
    doc 7
      freq 1
      pos 80
  term compiment
    doc 5
      freq 2
      pos 56
      pos 67
  term components
    doc 7
      freq 3
      pos 244
      pos 273
      pos 361
  term compost
    doc 1
      freq 3
      pos 28
      pos 50
      pos 83
  term conditions
    doc 7
      freq 3
      pos 310
      pos 350
      pos 591
  term conigl
    doc 5
      freq 2
      pos 49
      pos 64
  term consequential
    doc 7
      freq 1
      pos 657
  term contains
    doc 7
      freq 1
      pos 395
  term contract
    doc 7
      freq 1
      pos 664
  term contributed
    doc 7
      freq 1
      pos 304
  term contribution
    doc 7
      freq 1
      pos 514
  term copied
    doc 7
      freq 1
      pos 30
  term copies
    doc 7
      freq 1
      pos 341
  term copp
    doc 5
      freq 1
      pos 62
  term copy
    doc 7
      freq 3
      pos 323
      pos 331
      pos 394
  term copyright
    doc 7
      freq 10
      pos 0
      pos 200
      pos 232
      pos 249
      pos 398
      pos 465
      pos 487
      pos 518
      pos 628
      pos 639
  term corresponding
    doc 7
      freq 1
      pos 464
  term così
    doc 5
      freq 1
      pos 71
  term coton
    doc 1
      freq 1
      pos 9
  term created
    doc 7
      freq 2
      pos 181
      pos 574
  term creation
    doc 7
      freq 1
      pos 74
  term crescit
    doc 5
      freq 1
      pos 43
  term damages
    doc 7
      freq 2
      pos 646
      pos 658
  term dare
    doc 5
      freq 1
      pos 36
  term dealings
    doc 7
      freq 1
      pos 684
  term decim
    doc 1
      freq 1
      pos 58
  term definitions
    doc 7
      freq 1
      pos 188
  term deleting
    doc 7
      freq 1
      pos 262
  term derivativ
    doc 7
      freq 3
      pos 128
      pos 150
      pos 257
  term derivatives
    doc 7
      freq 2
      pos 155
      pos 187
  term descrizion
    doc 5
      freq 1
      pos 38
  term designer
    doc 7
      freq 1
      pos 295
  term development
    doc 7
      freq 1
      pos 65
  term disclaimer
    doc 7
      freq 1
      pos 595
  term distributed
    doc 7
      freq 3
      pos 246
      pos 545
      pos 554
  term diventin
    doc 5
      freq 1
      pos 53
  term document
    doc 7
      freq 2
      pos 180
      pos 573
  term documentation
    doc 7
      freq 1
      pos 219
  term does
    doc 7
      freq 2
      pos 175
      pos 568
  term dopo
    doc 3
      freq 1
      pos 29
  term due
    doc 5
      freq 2
      pos 74
      pos 95
  term durat
    doc 1
      freq 1
      pos 78
  term each
    doc 7
      freq 1
      pos 393
  term easily
    doc 7
      freq 1
      pos 436
  term efforts
    doc 7
      freq 1
      pos 75
  term egitt
    doc 3
      freq 1
      pos 15
  term either
    doc 7
      freq 1
      pos 407
  term embed
    doc 7
      freq 1
      pos 333
  term embedded
    doc 7
      freq 1
      pos 133
  term endors
    doc 7
      freq 1
      pos 504
  term engineer
    doc 7
      freq 1
      pos 296
  term entirely
    doc 7
      freq 1
      pos 546
  term entramb
    doc 5
      freq 1
      pos 79
  term environment
    doc 7
      freq 1
      pos 290
  term esistit
    doc 3
      freq 1
      pos 5
  term essi
    doc 5
      freq 1
      pos 52
  term estremit
    doc 1
      freq 1
      pos 18
  term event
    doc 7
      freq 1
      pos 636
  term except
    doc 7
      freq 1
      pos 510
  term explicit
    doc 7
      freq 2
      pos 457
      pos 528
  term express
    doc 7
      freq 1
      pos 608
  term f
    doc 1
      freq 1
      pos 92
  term fa
    doc 3
      freq 1
      pos 18
  term faq
    doc 7
      freq 1
      pos 38
  term fatfac
    doc 7
      freq 1
      pos 13
  term fatte
    doc 3
      freq 1
      pos 7
  term february
    doc 7
      freq 1
      pos 50
  term fertil
    doc 5
      freq 1
      pos 54
  term fiamm
    doc 1
      freq 3
      pos 75
      pos 88
      pos 101
  term fiammifer
    doc 1
      freq 3
      pos 1
      pos 41
      pos 81
  term fibonacc
    doc 5
      freq 4
      pos 0
      pos 14
      pos 31
      pos 32
  term fields
    doc 7
      freq 2
      pos 423
      pos 433
  term files
    doc 7
      freq 4
      pos 196
      pos 215
      pos 412
      pos 428
  term fitness
    doc 7
      freq 1
      pos 620
  term flamm
    doc 1
      freq 1
      pos 87
  term following
    doc 7
      freq 1
      pos 349
  term font
    doc 7
      freq 25
      pos 8
      pos 15
      pos 23
      pos 45
      pos 58
      pos 68
      pos 73
      pos 189
      pos 221
      pos 242
      pos 285
      pos 307
      pos 326
      pos 344
      pos 354
      pos 379
      pos 447
      pos 453
      pos 474
      pos 496
      pos 533
      pos 577
      pos 597
      pos 679
      pos 687
  term fonts
    doc 7
      freq 7
      pos 91
      pos 106
      pos 125
      pos 153
      pos 169
      pos 184
      pos 562
  term for
    doc 7
      freq 4
      pos 168
      pos 561
      pos 621
      pos 643
  term formats
    doc 7
      freq 1
      pos 280
  term fosfor
    doc 1
      freq 1
      pos 32
  term framework
    doc 7
      freq 1
      pos 88
  term free
    doc 7
      freq 2
      pos 85
      pos 315
  term freely
    doc 7
      freq 1
      pos 114
  term from
    doc 7
      freq 2
      pos 669
      pos 682
  term general
    doc 7
      freq 1
      pos 652
  term generalment
    doc 1
      freq 1
      pos 27
  term generar
    doc 1
      freq 1
      pos 96
  term giocavan
    doc 3
      freq 1
      pos 34
  term goals
    doc 7
      freq 1
      pos 54
  term gomma
    doc 3
      freq 1
      pos 46
  term granted
    doc 7
      freq 2
      pos 314
      pos 461
  term headers
    doc 7
      freq 1
      pos 415
  term hereby
    doc 7
      freq 1
      pos 313
  term holder
    doc 7
      freq 6
      pos 201
      pos 250
      pos 466
      pos 488
      pos 519
      pos 640
  term however
    doc 7
      freq 1
      pos 156
  term http
    doc 7
      freq 1
      pos 40
  term human
    doc 7
      freq 1
      pos 413
  term if
    doc 7
      freq 1
      pos 586
  term implied
    doc 7
      freq 1
      pos 610
  term impropriament
    doc 5
      freq 1
      pos 27
  term improved
    doc 7
      freq 1
      pos 96
  term inability
    doc 7
      freq 1
      pos 675
  term incend
    doc 1
      freq 1
      pos 72
  term incidental
    doc 7
      freq 1
      pos 655
  term includ
    doc 7
      freq 1
      pos 213
  term included
    doc 7
      freq 1
      pos 406
  term including
    doc 7
      freq 3
      pos 126
      pos 611
      pos 650
  term indicat
    doc 5
      freq 1
      pos 24
  term indirect
    doc 7
      freq 1
      pos 654
  term individual
    doc 7
      freq 1
      pos 360
  term infiammabil
    doc 1
      freq 1
      pos 26
  term intorn
    doc 1
      freq 1
      pos 54
  term intrecciat
    doc 3
      freq 1
      pos 10
  term introduss
    doc 5
      freq 2
      pos 17
      pos 34
  term invenzion
    doc 3
      freq 1
      pos 24
  term is
    doc 7
      freq 7
      pos 17
      pos 29
      pos 33
      pos 312
      pos 460
      pos 599
      pos 602
  term its
    doc 7
      freq 1
      pos 359
  term itself
    doc 7
      freq 1
      pos 371
  term kind
    doc 7
      freq 1
      pos 607
  term latin
    doc 1
      freq 1
      pos 86
  term legno
    doc 1
      freq 1
      pos 8
  term letteralment
    doc 1
      freq 1
      pos 98
  term liability
    doc 7
      freq 1
      pos 649
  term liabl
    doc 7
      freq 1
      pos 642
  term liber
    doc 5
      freq 1
      pos 20
  term licens
    doc 7
      freq 12
      pos 24
      pos 28
      pos 46
      pos 59
      pos 165
      pos 174
      pos 205
      pos 402
      pos 549
      pos 558
      pos 567
      pos 581
  term licensed
    doc 7
      freq 2
      pos 18
      pos 105
  term limited
    doc 7
      freq 1
      pos 614
  term linguistic
    doc 7
      freq 1
      pos 79
  term lino
    doc 3
      freq 1
      pos 9
  term long
    doc 7
      freq 2
      pos 116
      pos 430
  term machin
    doc 7
      freq 1
      pos 420
  term macinat
    doc 1
      freq 1
      pos 53
  term made
    doc 7
      freq 1
      pos 258
  term mai
    doc 3
      freq 1
      pos 4
  term marked
    doc 7
      freq 1
      pos 208
  term matematic
    doc 5
      freq 1
      pos 11
  term may
    doc 7
      freq 5
      pos 92
      pos 212
      pos 367
      pos 381
      pos 449
  term mensil
    doc 5
      freq 1
      pos 44
  term mentr
    doc 5
      freq 1
      pos 83
  term merchantability
    doc 7
      freq 1
      pos 619
  term merge
    doc 7
      freq 1
      pos 332
  term mescolat
    doc 1
      freq 1
      pos 62
  term mese
    doc 5
      freq 2
      pos 59
      pos 70
  term met
    doc 7
      freq 1
      pos 594
  term metadat
    doc 7
      freq 1
      pos 422
  term millimetr
    doc 1
      freq 1
      pos 60
  term modified
    doc 7
      freq 8
      pos 111
      pos 252
      pos 338
      pos 365
      pos 375
      pos 443
      pos 508
      pos 535
  term modify
    doc 7
      freq 1
      pos 334
  term must
    doc 7
      freq 2
      pos 543
      pos 551
  term name
    doc 7
      freq 4
      pos 222
      pos 454
      pos 475
      pos 483
  term names
    doc 7
      freq 3
      pos 9
      pos 145
      pos 226
  term natural
    doc 5
      freq 1
      pos 6
  term neither
    doc 7
      freq 1
      pos 352
  term new
    doc 7
      freq 1
      pos 289
  term no
    doc 7
      freq 2
      pos 442
      pos 635
  term nome
    doc 5
      freq 1
      pos 9
  term noninfringement
    doc 7
      freq 1
      pos 626
  term nor
    doc 7
      freq 1
      pos 356
  term not
    doc 7
      freq 8
      pos 120
      pos 147
      pos 176
      pos 499
      pos 552
      pos 569
      pos 593
      pos 613
  term notic
    doc 7
      freq 1
      pos 399
  term null
    doc 7
      freq 1
      pos 583
  term numer
    doc 5
      freq 1
      pos 5
  term numeric
    doc 5
      freq 1
      pos 41
  term obtaining
    doc 7
      freq 1
      pos 321
  term of
    doc 7
      freq 23
      pos 55
      pos 66
      pos 76
      pos 164
      pos 195
      pos 241
      pos 271
      pos 274
      pos 316
      pos 324
      pos 342
      pos 358
      pos 377
      pos 445
      pos 485
      pos 494
      pos 516
      pos 588
      pos 605
      pos 618
      pos 627
      pos 663
      pos 671
  term ofl
    doc 7
      freq 3
      pos 42
      pos 60
      pos 102
  term ogni
    doc 5
      freq 1
      pos 61
  term only
    doc 7
      freq 1
      pos 469
  term open
    doc 7
      freq 4
      pos 22
      pos 44
      pos 57
      pos 87
  term or
    doc 7
      freq 23
      pos 136
      pos 185
      pos 263
      pos 267
      pos 281
      pos 300
      pos 364
      pos 374
      pos 386
      pos 416
      pos 426
      pos 490
      pos 505
      pos 525
      pos 536
      pos 540
      pos 609
      pos 631
      pos 647
      pos 656
      pos 666
      pos 674
      pos 681
  term original
    doc 7
      freq 4
      pos 235
      pos 276
      pos 363
      pos 373
  term other
    doc 7
      freq 6
      pos 162
      pos 301
      pos 557
      pos 632
      pos 648
      pos 683
  term others
    doc 7
      freq 1
      pos 100
  term otherwis
    doc 7
      freq 1
      pos 667
  term out
    doc 7
      freq 1
      pos 670
  term ovunqu
    doc 1
      freq 1
      pos 43
  term ovver
    doc 1
      freq 1
      pos 97
  term palle
    doc 3
      freq 2
      pos 1
      pos 44
  term parliam
    doc 3
      freq 1
      pos 41
  term part
    doc 7
      freq 2
      pos 266
      pos 539
  term particular
    doc 7
      freq 1
      pos 623
  term partnership
    doc 7
      freq 1
      pos 98
  term partorisc
    doc 5
      freq 1
      pos 65
  term patent
    doc 7
      freq 1
      pos 629
  term permission
    doc 7
      freq 4
      pos 309
      pos 311
      pos 459
      pos 530
  term person
    doc 7
      freq 2
      pos 302
      pos 320
  term però
    doc 3
      freq 1
      pos 42
  term pisan
    doc 5
      freq 1
      pos 12
  term poi
    doc 5
      freq 1
      pos 89
  term popolazion
    doc 5
      freq 1
      pos 47
  term portar
    doc 1
      freq 1
      pos 94
  term porting
    doc 7
      freq 1
      pos 283
  term potass
    doc 1
      freq 1
      pos 37
  term preambl
    doc 7
      freq 1
      pos 52
  term precedon
    doc 5
      freq 1
      pos 98
  term prend
    doc 5
      freq 1
      pos 7
  term presented
    doc 7
      freq 1
      pos 477
  term primary
    doc 7
      freq 1
      pos 473
  term primi
    doc 5
      freq 1
      pos 73
  term primo
    doc 5
      freq 1
      pos 58
  term produc
    doc 1
      freq 1
      pos 100
  term produrr
    doc 1
      freq 1
      pos 95
  term programmer
    doc 7
      freq 1
      pos 297
  term projects
    doc 7
      freq 1
      pos 69
  term promot
    doc 7
      freq 1
      pos 503
  term provid
    doc 7
      freq 1
      pos 83
  term provided
    doc 7
      freq 3
      pos 141
      pos 391
      pos 600
  term purpos
    doc 7
      freq 1
      pos 624
  term readabl
    doc 7
      freq 2
      pos 414
      pos 421
  term redistribut
    doc 7
      freq 1
      pos 335
  term redistributed
    doc 7
      freq 3
      pos 113
      pos 134
      pos 384
  term refers
    doc 7
      freq 5
      pos 191
      pos 223
      pos 237
      pos 254
      pos 292
  term regolar
    doc 5
      freq 1
      pos 39
  term released
    doc 7
      freq 2
      pos 159
      pos 197
  term remain
    doc 7
      freq 2
      pos 171
      pos 564
  term requirement
    doc 7
      freq 2
      pos 167
      pos 560
  term reserved
    doc 7
      freq 4
      pos 7
      pos 144
      pos 220
      pos 452
  term restriction
    doc 7
      freq 1
      pos 468
  term ricopert
    doc 1
      freq 1
      pos 22
  term right
    doc 7
      freq 1
      pos 633
  term ro
    doc 1
      freq 1
      pos 93
  term ruvid
    doc 1
      freq 1
      pos 49
  term s
    doc 7
      freq 10
      pos 202
      pos 234
      pos 251
      pos 455
      pos 484
      pos 489
      pos 493
      pos 515
      pos 520
      pos 524
  term scopo
    doc 1
      freq 1
      pos 70
  term scripts
    doc 7
      freq 1
      pos 217
  term scripts.sil.org
    doc 7
      freq 1
      pos 41
  term sebben
    doc 5
      freq 1
      pos 26
  term second
    doc 5
      freq 1
      pos 69
  term sell
    doc 7
      freq 1
      pos 337
  term serie
    doc 5
      freq 1
      pos 29
  term set
    doc 7
      freq 1
      pos 194
  term sfregat
    doc 1
      freq 1
      pos 45
  term shall
    doc 7
      freq 2
      pos 498
      pos 637
  term shared
    doc 7
      freq 1
      pos 94
  term sil
    doc 7
      freq 2
      pos 21
      pos 43
  term softwar
    doc 7
      freq 18
      pos 16
      pos 140
      pos 190
      pos 243
      pos 286
      pos 308
      pos 327
      pos 345
      pos 355
      pos 380
      pos 390
      pos 448
      pos 497
      pos 534
      pos 578
      pos 598
      pos 680
      pos 688
  term sold
    doc 7
      freq 4
      pos 121
      pos 137
      pos 369
      pos 387
  term solfur
    doc 1
      freq 1
      pos 30
  term solo
    doc 1
      freq 1
      pos 38
  term somma
    doc 5
      freq 1
      pos 93
  term sostantiv
    doc 1
      freq 2
      pos 80
      pos 85
  term sostanz
    doc 1
      freq 1
      pos 25
  term sourc
    doc 7
      freq 1
      pos 214
  term special
    doc 7
      freq 1
      pos 653
  term specified
    doc 7
      freq 1
      pos 227
  term stand
    doc 7
      freq 1
      pos 409
  term statement
    doc 7
      freq 1
      pos 233
  term stelo
    doc 1
      freq 1
      pos 4
  term stess
    doc 3
      freq 1
      pos 23
  term stimulat
    doc 7
      freq 1
      pos 63
  term studiat
    doc 1
      freq 1
      pos 68
  term studied
    doc 7
      freq 1
      pos 110
  term study
    doc 7
      freq 1
      pos 330
  term subject
    doc 7
      freq 1
      pos 346
  term substituting
    doc 7
      freq 1
      pos 264
  term succession
    doc 5
      freq 3
      pos 1
      pos 3
      pos 77
  term such
    doc 7
      freq 2
      pos 210
      pos 229
  term superfic
    doc 1
      freq 1
      pos 48
  term supponend
    doc 5
      freq 1
      pos 50
  term support
    doc 7
      freq 1
      pos 71
  term technical
    doc 7
      freq 1
      pos 298
  term termin
    doc 5
      freq 2
      pos 75
      pos 85
  term termination
    doc 7
      freq 1
      pos 579
  term terzo
    doc 5
      freq 1
      pos 87
  term text
    doc 7
      freq 2
      pos 411
      pos 425
  term that
    doc 7
      freq 2
      pos 142
      pos 392
  term the
    doc 7
      freq 48
      pos 20
      pos 53
      pos 56
      pos 72
      pos 101
      pos 104
      pos 124
      pos 152
      pos 166
      pos 183
      pos 193
      pos 199
      pos 231
      pos 239
      pos 248
      pos 272
      pos 275
      pos 284
      pos 306
      pos 325
      pos 343
      pos 348
      pos 353
      pos 378
      pos 396
      pos 418
      pos 439
      pos 446
      pos 451
      pos 463
      pos 472
      pos 479
      pos 482
      pos 486
      pos 491
      pos 495
      pos 513
      pos 517
      pos 522
      pos 532
      pos 559
      pos 576
      pos 589
      pos 596
      pos 638
      pos 672
      pos 678
      pos 686
  term their
    doc 7
      freq 2
      pos 186
      pos 527
  term themselves
    doc 7
      freq 1
      pos 123
  term these
    doc 7
      freq 1
      pos 403
  term they
    doc 7
      freq 1
      pos 118
  term this
    doc 7
      freq 10
      pos 14
      pos 27
      pos 173
      pos 204
      pos 211
      pos 401
      pos 467
      pos 548
      pos 566
      pos 580
  term those
    doc 7
      freq 1
      pos 432
  term to
    doc 7
      freq 25
      pos 62
      pos 70
      pos 82
      pos 107
      pos 170
      pos 178
      pos 192
      pos 224
      pos 238
      pos 255
      pos 261
      pos 287
      pos 293
      pos 305
      pos 318
      pos 328
      pos 347
      pos 471
      pos 478
      pos 502
      pos 511
      pos 563
      pos 571
      pos 615
      pos 676
  term together.com
    doc 7
      freq 1
      pos 5
  term tort
    doc 7
      freq 1
      pos 665
  term trademark
    doc 7
      freq 1
      pos 630
  term type
    doc 7
      freq 1
      pos 163
  term typetogether
    doc 7
      freq 1
      pos 3
  term ugual
    doc 5
      freq 2
      pos 80
      pos 91
  term under
    doc 7
      freq 7
      pos 19
      pos 160
      pos 172
      pos 203
      pos 547
      pos 555
      pos 565
  term unless
    doc 7
      freq 1
      pos 456
  term unmodified
    doc 7
      freq 2
      pos 340
      pos 537
  term usate
    doc 3
      freq 1
      pos 13
  term use
    doc 7
      freq 4
      pos 329
      pos 450
      pos 673
      pos 677
  term used
    doc 7
      freq 3
      pos 109
      pos 148
      pos 501
  term user
    doc 7
      freq 1
      pos 440
  term users
    doc 7
      freq 1
      pos 480
  term using
    doc 7
      freq 2
      pos 182
      pos 575
  term venivan
    doc 3
      freq 1
      pos 12
  term verbo
    doc 1
      freq 1
      pos 91
  term version
    doc 7
      freq 7
      pos 25
      pos 47
      pos 236
      pos 253
      pos 277
      pos 444
      pos 509
  term versions
    doc 7
      freq 2
      pos 366
      pos 376
  term vetro
    doc 1
      freq 1
      pos 52
  term viewed
    doc 7
      freq 1
      pos 437
  term vinilic
    doc 1
      freq 1
      pos 66
  term void
    doc 7
      freq 1
      pos 585
  term warranties
    doc 7
      freq 1
      pos 617
  term warranty
    doc 7
      freq 1
      pos 604
  term whether
    doc 7
      freq 1
      pos 659
  term which
    doc 7
      freq 1
      pos 90
  term who
    doc 7
      freq 1
      pos 303
  term whole
    doc 7
      freq 2
      pos 269
      pos 542
  term with
    doc 7
      freq 6
      pos 6
      pos 36
      pos 99
      pos 138
      pos 388
      pos 526
  term within
    doc 7
      freq 1
      pos 424
  term without
    doc 7
      freq 1
      pos 603
  term works
    doc 7
      freq 2
      pos 129
      pos 151
  term worldwid
    doc 7
      freq 1
      pos 64
  term writer
    doc 7
      freq 1
      pos 299
  term written
    doc 7
      freq 2
      pos 458
      pos 529
  term www.typ
    doc 7
      freq 1
      pos 4
field Nome File
  term Il
    doc 0
      freq 1
      pos 0
    doc 2
      freq 1
      pos 0
  term La
    doc 4
      freq 1
      pos 0
  term OFL
    doc 6
      freq 1
      pos 0
  term di
    doc 4
      freq 1
      pos 2
  term fiammifero
    doc 0
      freq 1
      pos 1
  term fibonacci
    doc 4
      freq 1
      pos 3
  term pallone
    doc 2
      freq 1
      pos 1
  term serie
    doc 4
      freq 1
      pos 1
END
checksum 00000000002345996767
table of contents, size: 4
  filename: _6.fld
    start: 22
    end: 6683
  filename: _6.inf
    start: 6705
    end: 7488
  filename: _6.len
    start: 7510
    end: 7729
  filename: _6.pst
    start: 7751
    end: 34053
table of contents begins at offset: 0000000000000034053
